<div class="bg1" id="home">
    <div class="bg-container head">
        <div class="w100">
            <div class="head-greeting">
                <h1>
                    Hi,<br>
                    I'm <span style="color: #64ffda;">Roland</span> Vas <br>
                    Front End developer
                </h1>
                    <a href="./assets/downloads/Lebenslauf.pdf" target="_blank">Download CV</a>
            </div>
            <div class="images">
                <div>
                <img src="/assets/img/background5.png" class="shape">
                <img src="/assets/img/pic.png" class="photo">
            </div>
            </div>
        </div>
    </div>
</div>