<div class="bg3">
    <div class="bg-container-footer">
        <div class="footer">
            <div class="link">
                <a routerLink="/impressum">Impressum</a>
                <a routerLink="/legal-notice">Legal Notice</a>
            </div>
            <div class="icon">
                <a href="https://github.com/RolandVas"> <img src="/assets/icon/github-fill.png"> </a>
                <a href="https://www.linkedin.com/in/roland-vas-28b17923a/"> <img
                        src="/assets/icon/linkedin-box-fill.png"> </a>
            </div>
        </div>
    </div>
</div>