<div class="bg2">
    <div class="bg-container about margin">
        <div class="about-head">
            <img src="/assets/img/logo3.png">
            <div class="about-text">
                <h2 id="about">About me</h2>
                <span>
                    I am a 27 year old Front End developer. <br>
                    <br>
                    I fond a passion in working with computers. <br>
                    <br>
                    2021 I started coding in JavaScript.
                    When not studing im either programing or using my <br>
                    freetime for Fitness or Chasse.
                </span>
            </div>
        </div>
        <div class="about-description">
            <div class="description">
                <div class="about-icon">
                    <img src="/assets/img/apple.png">
                </div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quia odit praesentium
                    cupiditate alias, inventore molestiae quis reiciendis hic veniam ex fuga maxime optio facere numquam
                    possimus doloremque eius nulla?</span>
            </div>
            <div class="description">
                <div class="about-icon">
                    <img src="/assets/img/apple.png">
                </div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quia odit praesentium
                    cupiditate alias, inventore molestiae quis reiciendis hic veniam ex fuga maxime optio facere numquam
                    possimus doloremque eius nulla?</span>
            </div>
            <div class="description">
                <div class="about-icon">
                    <img src="/assets/img/apple.png">
                </div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quia odit praesentium
                    cupiditate alias, inventore molestiae quis reiciendis hic veniam ex fuga maxime optio facere numquam
                    possimus doloremque eius nulla?</span>
            </div>
            <div class="description">
                <div class="about-icon">
                    <img src="/assets/img/apple.png">
                </div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quia odit praesentium
                    cupiditate alias, inventore molestiae quis reiciendis hic veniam ex fuga maxime optio facere numquam
                    possimus doloremque eius nulla?</span>
            </div>
        </div>
    </div>
</div>