<div class="bg2">
    <div class="bg-container about margin">
        <div class="about-head">
            <img src="/assets/img/r2.jpg">
            <div class="about-text">
                <h2 id="about">About me</h2>
                <span>
                    I am a 27 year old Front End developer. <br>
                    <br>
                    I found a passion in working with computers. <br>
                    <br>
                    2021 I started coding in JavaScript.
                    When not studing im either programing or using my <br>
                    freetime for Fitness or Chasse.
                </span>
            </div>
        </div>
        <div class="about-description">
            <div class="mobil-div">
                <div class="description">
                    <div class="about-icon">
                        <img src="/assets/img/walk.png">
                    </div>
                    <h3>MY JOURNEY BEGAN</h3>
                    <span>I started my IT journey coding my own small websites at home I wanted to deepen my knowledge
                        in this field so I decided to get professional training and build projects.
                        In November 2021 I decided to follow my personal interest in IT and change careers and do it in
                        a professional way.</span>
                </div>
                <div class="description">
                    <div class="about-icon">
                        <img src="/assets/img/search.png">
                    </div>
                    <h3>MY SEARCH</h3>
                    <span>I dedicated my free time to systematically learn coding and software development at a
                        professional software development school. After a long search I found the Developer Akademie.
                        They teach you the essentials you need to become a front end developer,
                        as well as work in a team on your own pace and build your own projects.</span>
                </div>
            </div>
            <div class="mobil-div">
                <div class="description">
                    <div class="about-icon">
                        <img src="/assets/img/heart-line.png">
                    </div>
                    <h3>MY PASSION</h3>
                    <span> For me, programming is like playing my favorite video game, because new challenges inspire
                        and encourage me to reach the highest level so I can spend hours solving tasks without getting
                        bored
                        or tired.

                        That was the moment when I realized this is the right way for me.</span>
                </div>
                <div class="description">
                    <div class="about-icon">
                        <img src="/assets/img/flight.png">
                    </div>
                    <h3>MY GOAL</h3>
                    <span>First of all, I want to deepen my knowledge in the field of Frontend Development,
                        therefore I'm searching for an interesting and challenging role in a dynamic company with smart
                        ideas.</span>
                </div>
            </div>
        </div>
    </div>
</div>