<div id="projects" class="bg1">
    <div class="bg-container margin">

        <h2 >
            My projects
        </h2>

        <div class="work-container w100">
            <div *ngFor="let work of header; let i = index;" class="work-container2">

                <div class="icon">
                    <a href="{{ git[i] }}" target="_blank"> <img src="/assets/img/code-white.png"> </a>
                    <a href="{{ url[i] }}" target="_blank"> <img src="/assets/img/web-white.png"> </a>
                </div>


                <div class="work">

                    <div class="content">
                        <div class="text">
                            <h3>
                                {{ work }}
                            </h3>
                            <span>
                                {{ description[i] }} <br>
                                <br>
                            </span>
                            <span style="color: #dae1f8;">Tool: {{ tool[i] }} </span> <br> 
                        </div>
                        <div class="img">
                            <a href="{{ url[i] }}" target="_blank"> <img src="/assets/img/{{ img[i] }}"> </a>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>