body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

body::-webkit-scrollbar {
    width: 5px;
  }
   
  body::-webkit-scrollbar-thumb {
    background: #ddd; 
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: #666; 
  }

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.bg1 {
    display: flex;
    justify-content: center;
    background-color: #112240;
    width: 100vw;
}

.bg2 {
    display: flex;
    justify-content: center;
    background-color: #0D1A31;
    width: 100vw; 
}

.bg3 {
    display: flex;
    justify-content: center;
    background-color: #C5C6C7;
    width: 100vw;
}


.w100 {
    width: 100%;
}

.bg-container {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.margin {
    margin-top: 80px;
    margin-bottom: 80px;
}

h2 {
    color: #CCD6F6;
    font-size: 36px;
    margin-bottom: 60px;
    margin-top: 0px;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    background: -webkit-radial-gradient(#eee, #64ffda);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

